.banner-wrap {
  background: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1920px;
  height: calc(100vh - 150px);


    .banner-set {
      height: 100%;

      .banner-content {
        width: 50%;
        position: relative;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
      }

      h2.objetivo {
        color: $color-second;
        font-size: 40px;
      }

      h1 {
        @include titles;
        margin-top: 20px;
        margin-bottom: 30px;
      }

      p {
        display: block;
        font-family: 'DIN-Regular', Arial;
        font-size: 16px;
        padding-top: 40px;
        color: $color-title;
        border-top: 1px solid white;
        text-align: justify;

      }
    }


  }
