.banner-wrap {
  background: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1920px;
  height: calc(100vh - 150px);


    .banner-set {
      height: 100%;

      .banner-content {
        width: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
      }

      h2.objetivo {
        color: $color-second;
        font-size: 40px;
      }

      h1 {
        @include titles;
        margin-top: 20px;
        margin-bottom: 30px;
      }

      p {
        display: block;
        font-family: 'DIN-Regular', Arial;
        font-size: 16px;
        padding-top: 40px;
        color: $color-title;
        border-top: 1px solid white;
        text-align: justify;
      }
    }

  @media screen and (max-width: 1024px) {
    background-position: center bottom;
    background-size: cover;
    height: 500px;

    .banner-set {

      .banner-content {
        width: 80%;
        transform: translate(-50%, -50%);
      }

      h2.objetivo {
        text-align: center;
      }

      h1 {
        text-align: center;
      }

      p {
        padding-top: 20px;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 992px) {
  }

  @media screen and (max-width: 768px) {
    position: relative;
    top: 58px;
    height: 400px;
    margin-bottom: $padding-contenedor;

    .banner-set {
      width: 100%;

      .banner-content {
        width: 70%;
      }

      h2.objetivo {
        text-align: center;
      }

      h1 {
        text-align: center;
      }

      p {
        padding-top: 20px;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 700px) {

    .banner-set {

      .banner-content {
        width: 70%;
      }

      h2.objetivo {
        font-size: 32px;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 42px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 600px) {

    .banner-set {

      .banner-content {
        width: 70%;
      }

      h2.objetivo {
        font-size: 32px;
        margin-bottom: 8px;
      }

      h1 {
        font-size: 42px;
        margin-top: 8px;
        margin-bottom: 16px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 480px) {

    .banner-set {

      .banner-content {
        width: 90%;
      }

      h2.objetivo {
        font-size: 22px;
        margin-bottom: 5px;
      }

      h1 {
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
  }

}
