.metodologia-wrap {
  padding-top: $padding-contenedor;
  padding-bottom: $padding-contenedor;

  .metodologia-content {
    display: inline-block;
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-right: 10%;

    p {
      margin-bottom: 24px;
      text-align: justify;
    }

    ul {
      padding-left: 15px;
      line-height: 1.5em;
    }
  }

  figure {
    display: inline-block;
    width: 50%;

    .img-laptop {
      display: block;
      width: 110%;
      max-width: 725px;
      height: auto;
    }
  }

  @media screen and (max-width: 1024px) {
    border-bottom: 1px solid #80D3AE;
    .metodologia-content {
      width: 100%;
      float: none;

      h2 {
        text-align: center;
      }

      p {
        text-align: center;
      }

      ul {
        margin-top: 30px;
      }
    }

    figure {
      display: inline-block;
      width: 100%;

      .img-laptop {
        width: 500px;
        padding-top: $padding-contenedor;
        @include center-horizontal;
      }
    }
  }
}

.consultores-wrap {
  clear: both;
  padding-top: 55px;
  padding-bottom: 70px;

  .consultores-content {
    text-align: center;
    width: 100%;

    h2 {
      margin-bottom: 16px;
    }
  }

  .carrusel {
    padding-top: $padding-contenedor;

    .set-ejecutivo {
      //padding: 0 40px;
      border: 1px solid #dddddd;
      margin-left: 40px;
      margin-right: 40px;

      img {
        width: 100%;
      }

      p {
        font-size: 14px;
        text-align: justify;
      }

      strong {
        display: block;
        padding: 10px 0 5px 0;
      }

      small {
        display: block;
        padding: 5px 0 15px 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .carrusel {
      .set-ejecutivo {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }

}