// Variables de contenedor
$enable-contenedor-full: true !default;
$enable-contenedor: true !default;

// Colores
$color-base: #163D4B;
$color-second: #80D3AE;
$color-black: #000000;
$color-text: #4B5057;
$color-nav: #ffffff;


// size
$size-title: 50px;
$size-subtitle: 22px;
$size-text: 15px;
$size-strong: 17px;
$size-text-small: 14px;



// textos


